body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

h1 {
    color: #333;
}

.tombol-pilihan {
    display: flex;
    gap: 20px;
}

.tombol-game {
    font-size: 3em;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 4x 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.tombol-game:hover {
    transform: scale(1.1);
}

.tombol-game:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

#hasil {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
}